
body {
  background-color: black;
  color: white;
}
/*
hr {
  margin: 1em;
  width: 80%;
}*/

/*TEXT STYLES
=======================================*/

h1 {
  font-size: 500%;
  font-family:  'Tangerine', cursive;
  text-align: center;
  color: yellow;
  margin-top: 5%;
  margin-bottom: 0;
}

h2 {
  font-size: 200%;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-size: 1em;
  color: white;
}

section {
  border-bottom-style: double;
  border-color: yellow;
  padding-bottom: 5%
}

/*IMAGE STYLES*/
/*=======================================*/
img {
  max-width: 100%;
}

/*LINK STYLES
=======================================*/
a, a:link, a:active {
  text-decoration: none;
  color: white;
}

a:hover, a:focus {
  color: rgb(129, 125, 40);
}

a:visited {
  /*color: rgb(224, 227, 233);*/
}
