
body {
  line-height: 1.5;
  color: #313131;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

/*IMAGE STYLES*/
/*=======================================*/
 img {
   width: 100%;
}

/*LINK STYLES
=======================================*/
a, a:link, a:active {
  text-decoration: none;
  color: rgb(19, 22, 23);
}

a:hover, a:focus {
  color: rgb(44, 35, 142);
}

a:visited {
}
