
#hamburger {
  color: white;
  display: block;
  float: right;
  font-size: 400%;
}

#linkedin {
  font-size: 200%;
  text-align: right;
  margin-left: 45%;
}

#github {
  font-size: 200%;
  text-align: right;
}

#nav {
  border: 0;
  margin: 0;
  padding: 0;
  color: white;
}

#projectName {
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
}

nav ul {
  display: none;
  padding: 0;
  border: 0;
  margin: 0;
}

nav li {
  float: right;
  font-size: 150%;
  font-family: 'Roboto Mono', monospace;
}

#center {
  text-align: center;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  border-bottom-style: double;
  border-color: yellow;
  padding-bottom: 5%
}

#centertext {
  text-align: center;
  font-size: 150%;
}


@media only screen and (min-width: 640px) {
  #hamburger {
    color: white;
    display: none;
  }

  nav ul {
    display: block;
    float: right;
  }

  nav li {
    display: inline-block;
    padding: 2%;
  }
}
